<!-- include header -->
<%- include('include/_header.ejs') %>

<!-- main -->
<main id="site-main">
  <div class="container d-flex">
    <div class="form-title">
      <h2>Book List</h2>
    </div>
    <!-- form handling -->
    <%- include('include/_form.ejs') %>
  </div>
</main>
<!-- /main -->

<!-- include footer -->
<%- include('include/_footer.ejs') %>
