<!-- include header -->
<%- include('include/_header.ejs') %>

<!-- main -->
<main id="site-main">
  <div class="container d-flex">
    <div class="form-title">
      <h2>All Books</h2>
    </div>
    <!-- form handling -->
    <form method="POST" id="update_user">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>No.</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <%- include('include/_show.ejs') %>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- /main -->

<!-- include footer -->
<%- include('include/_footer.ejs') %>
